body {
    margin: auto;
    font-family: 'Caveat', cursive;
    background-color: #22333B;
}

#flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#favourite-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    padding: 2%;
    border: 5px solid #555B6E;
    border-radius: 5%;
    font-size: 5em;
    font-family: 'Akronim', cursive;
    color: #F2F4F3;
}

#new-item {
    padding: 2%;
    margin: 2%;
    border: 5px solid #555B6E;
    border-radius: 5%;
    font-size: 2em;
}

.item {
    margin: 1%;
    padding: 1%;
    color: #F2F4F3;
    list-style-type: none;
}

li {
    border: 5px solid #555B6E;
    border-radius: 5%;
}